.slider{
        background: url(images/bg-1.jpg);
        height: 70vh;
        background-size: cover;
        background-position: center;
      }

.isajes{
	 z-index: 1000; 
	 padding: 0; 
	 top: 20rem; 
	 position: fixed; 
	 background: rgb(170, 170, 170); 
	 color: rgb(255, 255, 255);
}

